* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.tools-content {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-content {
    width: 100%;
    height: calc(100vh - 60px);
}

#canvas {
}

.tools {
    background: aliceblue;
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
}

.tool {
    width: 15%;
    height: 80%;
    position: relative;
}

.tool img {
    width: 100%;
    height: 80%;
}

.tool-options {
    position: absolute;
    border: 1px solid lightgrey;
    height: 100px;
    width: 120px;
    left:50px;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

.pencil-size {
    text-align: center;
}

.pencil-size input {
    width: 90%;
}

.pencil-colour {
    display: flex;
    justify-content: space-evenly;
}

.black {
    width: 20px;
    background-color: black;
    height: 20px;
    border-radius: 20px;
}

.blue {
    width: 20px;
    background-color: blue;
    height: 20px;
    border-radius: 20px;
}

.red {
    width: 20px;
    background-color: red;
    height: 20px;
    border-radius: 20px;
}

.yellow {
    width: 20px;
    background-color: yellow;
    height: 20px;
    border-radius: 20px;
}

.eraser-options {
    position: absolute;
    top: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 100px;
    width: 120px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.eraser-size {
    text-align: center;
    
}
.delete{
    text-align: center;   
}

.eraser-size input {
    width: 80%;
}

.fas.fa-trash{
    color: red;
    font-size: 1.6rem;
    opacity: 0.8;
    /* transition: transform 0.5s; */
    
}

.inactive {
    display: none;
}
