* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.tools-content {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-content {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

#canvas {
}

.tools {
    background: aliceblue;
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
}

.tool {
    width: 15%;
    height: 80%;
    position: relative;
 
}


.tool img {
    width: 100%;
    height: 80%;
    transition: 0.8s;
}

.tool img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.tool-options {
    position: absolute;
    border: 1px solid lightgrey;
    background-color: aliceblue;
    height: 100px;
    width: 120px;
    left: 50px;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px; 
}


.pencil-size {
    text-align: center;
}

.pencil-size input {
    width: 90%;
}

.pencil-colour {
    display: flex;
    justify-content: space-evenly;
}

.black {
    width: 20px;
    background-color: black;
    height: 20px;
    border-radius: 20px;
}

.blue {
    width: 20px;
    background-color: blue;
    height: 20px;
    border-radius: 20px;
}

.red {
    width: 20px;
    background-color: red;
    height: 20px;
    border-radius: 20px;
}

.yellow {
    width: 20px;
    background-color: yellow;
    height: 20px;
    border-radius: 20px;
}

.eraser-options {
    position: absolute;
    top: 50px;
    border: 1px solid lightgrey;
    background-color: aliceblue;
    border-radius: 10px;
    height: 100px;
    width: 120px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.eraser-size {
    text-align: center;
}

.delete {
    text-align: center;
}

.eraser-size input {
    width: 80%;
}

.fas.fa-trash {
    color: red;
    font-size: 1.6rem;
    opacity: 0.8;
    /* transition: transform 0.5s; */
}

.sticky {
    position: absolute;
    width: 260px;
    height: 186px;
    top: 50%;
    left: 50%;
    outline: none;
    box-shadow: 7px 10px 12px #39813d;
   
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.sticky-nav {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: darkgreen;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.minimise-sticky {
    height: 80%;
    background-color: lightgray;
    width: 14%;
    border-radius: 20px;
    text-align: center;
    background-color: lightblue;
    margin-right: 2%;
}

.minimise-sticky:hover{
    cursor: pointer;

}

.delete-sticky {
    height: 80%;
    background-color: red;
    width: 14%;
    border-radius: 20px;
    text-align: center;
    margin-right: 2%;
}

.delete-sticky:hover{
    cursor: pointer;
}
.sticky-note {
    width: 100%;
    height: 85%;
    border: 1px solid black;
    border-top: none;
    padding: 10%;
    overflow: auto;
    outline: none;
    background-color: lightgreen;
    color: darkblue;
}

.uploaded-image{
    width: 100%;
    height: 100%;
    padding: 0px;
}

.sticky-image{
    width: 100%;
    height: 90%;
    border-top: none;
    overflow: auto;
    outline: none;
    
}

.opClass {
    opacity:0.4;
}

.inactive {
    display: none;
}
